:root{
  --text-color: rgb(200, 0, 0);
  --bg-color: rgb(252, 244, 229)
}

html {
  font-family: Tokyo;
  font-size: 16px;
  color: var(--text-color);
  font-weight: bold;
  background-color: var(--bg-color);
  margin: 10px;
  /*background-image: url("images/sakuraBG2.png");
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;*/
}

head {
  font-family: TokyoBold;
  font-size: 20px;
  font-weight: bold;
  text-align: center;

}

body {
  
}

p {
  
}

a:link {
  color: orange;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: orange;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: orange;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: orange;
  background-color: transparent;
  text-decoration: underline;
}

@font-face {
  font-family: "Tokyo";
  src: url("font/NightinTokyo.ttf");
}
@font-face {
  font-family: "TokyoBold";
  src: url("font/NightinTokyoBold.ttf");
}
@font-face {
  font-family: "TokyoShadow";
  src: url("font/NightinTokyoShadow.ttf");
}

